#logo{
    width: 100px;
    height: 100px;
}
body{
    margin-left: 5%;
    margin-right: 5%;
   
}
.nav-link{
    color: black;
    font-size: 20px;

}
.nav-link:hover{
color: #39DB4A;
}
#navbarScroll{
    margin-left: 35%;
}
.btn{
    background-color: #39DB4A;
    border-radius: 20px;
    width: 200px;
    height: 50px;
    font-size: 20px;
    color: white;
}
.icon{
    width: 30px;
    height: 30px;
    margin-right: 20px;
    margin-top: 10px;
}
.cartBut{
   border: none;
   padding: 0px;
   margin: 0px;
   background-color: white;
}
.icon1{
    width: 30px;
    height: 30px;

}
.bg-green{
    background-color: #39DB4A;
}
.gridContainer{
    display: grid;
    grid-template-columns: auto auto auto;
    grid-gap: 10px;  
    margin-left: 50px;
    margin-right: 50px;
}
.gridItem{
    margin-left: 20px;
    text-align: center;
    padding: 50px;
}
.mouseHover:hover{
    width: 250px;
    border: 2px solid black;
}
#butt{
    display: none;
}
@media screen and (max-width:600px) { 
    .gridContainer{
        grid-template-columns: auto auto;
        display: grid;
        grid-gap: 0px;  
        margin-left: 0px;
        margin-right: 0px;
    }
    
    .gridItem{
       width: 100%;
       padding: 0px;
       margin-left: 0px;
    }
    
}